@import "common/var.css";
@b czb{
  @e table{
    position: relative;
    width: 100%;
    @e box{
      overflow-x: auto;
      position: relative;
      border: 1px solid var(--borderColor-main);
      @when fixed-right{
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-white);
      }
    }
    /* @e wrap {
      width: 1200px;
    } */
    @e head{
      display: flex;
      overflow: hidden;
      @e item{
        min-width: 58px;
        height: 36px;
        /* float: left; */
        border-right: 1px solid var(--borderColor-main);
        border-bottom: 1px solid var(--borderColor-main);
        box-sizing: border-box;
        padding: 0 15px;
        @mixin cflex middle;
        background-color: #f7f7f7;
        font-weight: bold;
        &:nth-last-child(2){
          width: auto!important;
          flex: 1;
        }
        &:last-child{
          border-right: 0;
        }
        /* @when flexnone{
          flex: none;
        } */
      }
      @e check{
        min-width: 46px;
      }
    }
    @e content{
      @e row {
        display: flex;
        overflow: hidden;
        border-bottom: 1px solid var(--borderColor-main);
        background-color: #fff;
        &:last-child{
          border-bottom: 0;
        }
        &:hover{
          background-color: var(--select-hover);
        }
      }
      @e col{
        /* float: left; */
        min-width: 58px;
        min-height: 34px;
        border-right: 1px solid var(--borderColor-main);
        box-sizing: border-box;
        padding: 5px 15px;
        word-wrap: break-word;
        word-break: break-all;
        @mixin cflex middle;
        line-height: 1.2;
        &:nth-last-child(2){
          width: auto!important;
          flex: 1;
        }
        &:last-child{
          border-right: 0;
        }
        /* @when flexnone{
          flex: none;
        } */
        a{
          color:var(--color-main);
          margin-right: 8px;
        }
        a:link,a:active,a:visited,a:hover{color:var(--color-main);}
      }
      @e check{
        min-width: 46px;
      }
    }
    @e checkbox{
      width: var(--size-base);
      height: var(--size-base);
      border-radius: 2px;
      border: 1px solid var(--borderColor-main);
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      background-color: var(--color-white);
      cursor: pointer;
      &:hover{
        border: 1px solid var(--color-main);
      }
      &::after{
        box-sizing: content-box;
        content: "";
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 7px;
        left: 4px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(0);
        width: 3px;
        transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
        transform-origin: center;
      }
      @when choosed{
        border: 1px solid var(--color-main);
        background-color: var(--color-main);
        &::after{
          transform: rotate(45deg) scaleY(1);
        }
      }
    }
  }
}