@import "common/var.css";
@b czb{
  @e pagination{
    line-height: 1;
    @e arr{
      width: 70px;
      text-align: left;
      display: inline-block;
      vertical-align: top;
    }
    @e wrap{
      /* display: flex; */
      border: 1px solid var(--borderColor-main);
      overflow: hidden;
      display: inline-block;
      height: 32px;
      border-radius: var(--normal-radius);
      &>div{
        border-right: 1px solid var(--borderColor-main);
        &:last-child{
          border-right: 0;
        }
      }
    }
    @e previous{
      line-height: 32px;
      padding: 0 8px;
      height: 32px;
      cursor: pointer;
      float: left;
      &.nopage{
        cursor: not-allowed;
        color: var(--color-ccc);
      }
    }
    @e item{
      line-height: 32px;
      padding: 0 14px;
      height: 32px;
      cursor: pointer;
      float: left;
      &.active{
        background-color: var(--color-main);
        color: var(--color-white);
      }
    }
    @e next{
      float: left;
      line-height: 32px;
      padding: 0 8px;
      height: 32px;
      cursor: pointer;
      &.nopage{
        cursor: not-allowed;
        color: var(--color-ccc);
      }
    }
    @e more{
      width: 38px;
      float: left;
      text-align: center;
      height: 32px;
      line-height: 32px;
    }
  }
}