@import "common/var.css";
@b czb{
   @e arrow-left{
    flex: 1;
    font-size: var(--size-main);
    line-height: 2;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }
  @e arrow-right{
    flex: 1;
    font-size: var(--size-main);
    line-height: 2;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }
  @e datepacker{
    height: var(--normal-height);
    width: var(--input-width);
    position: relative;
    font-size: var(--size-base);
    color: var(--color-base);
    display: inline-block;
    vertical-align: top;
    @when autowidth{
      width: 100%;
    }
    @e value{
      width: 100%;
      height: var(--normal-height);
      border: 1px solid var(--borderColor-main);
      border-radius: var(--normal-radius);
      box-sizing: border-box;
      outline: 0;
      position: relative;
      cursor: pointer;
      padding: 0 10px;
      background-color: #fff;
      overflow: hidden;
      @mixin cflex middle;
      @m placeholder{
        color: var(--color-999);
      }
      @m icon{
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 11;
        line-height: 1;
        font-size: var(--size-base);
        margin-top: -6px;
        color: var(--color-999);
        transition-duration: 0.3s;
      }
      @when disabled{
        @mixin disabled2;
      }
      @when open{
        border: 1px solid var(--color-main);
      }
    }
    @e panel{
      position: absolute;
      z-index: 5000;
      border: 1px solid var(--borderColor-main);
      box-sizing: border-box;
      width: 274px;
      padding: 5px 10px 10px;
      box-sizing: border-box;
      background-color: #fff;
      transform: translateY(3px);
      @e header{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
      }
      .year-range{
          font-size: var(--size-main);
          line-height: 2;
          flex: 3;
          display: flex;
          justify-content: center;
      }
      .year-month-box{
          flex: 3;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
      }
      .type-year, .type-month, .date-list{
          background-color: #fff;
      }

      .year-box, .month-box{
          transition: all ease .1s;
          font-family: Roboto, sans-serif;
          flex: 1;
          text-align: center;
          font-size: var(--size-main);
          line-height: 2;
          cursor: pointer;
          background-color: #fff;
      }
      .year-list, .month-list{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          list-style: none;
          li{
              font-family: Roboto, sans-serif;
              transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
              cursor: pointer;
              text-align: center;
              font-size: var(--size-main);
              width: 33%;
              padding: 10px 0;
              &:hover{
                background-color: var(--button-default-hover);
                color: #fff;
              }
              &.selected{
                background-color: var(--color-main);
                color: #fff;
              }
              &.invalid{
                cursor: not-allowed;
                color: #ccc;
              }
          }
      }
      .date-list{
          .valid:hover{
              background-color: #eee;
          }
          li{
              transition: all ease .1s;
              cursor: pointer;
              box-sizing: border-box;
              border-bottom: 1px solid #fff;
              position: relative;
              margin: 2px;
              .message{
                  font-family: Roboto, sans-serif;
                  font-weight: 300;
                  font-size: 14px;
                  position: relative;
                  height: 30px;
                  &.selected{
                      .bg{
                          background-color: var(--color-main);
                      }
                      span{
                          color: #fff;
                      }
                  }
                  &:not(.selected){
                      .bg{
                          transform: scale(0);
                          opacity: 0;
                      }
                      &:hover{
                          .bg{
                              background-color: var(--color-main);
                              transform: scale(1);
                              opacity: .6;
                          }
                          span{
                              color: #fff;
                          }
                      }
                  }
                  .bg{
                      height: 30px;
                      width: 100%;
                      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                      border-radius: 50%;
                      position: absolute;
                      z-index: 10;
                      top: 0;
                      left: 0;
                  }
                  span{
                      position: absolute;
                      z-index: 20;
                      left: 50%;
                      top: 50%;
                      transform: translate3d(-50%, -50%, 0);
                      line-height: 31px;
                      height: 30px;
                  }
              }
              &.invalid{
                  cursor: not-allowed;
                  color: #ccc;
              }
          }
          
      }
      .weeks{
          li{
              font-weight: 600;
          }
      }
      .weeks, .date-list{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 0;
          list-style: none;
          .preMonth, .nextMonth{
              color: #ccc;
          }
          li{
              font-family: Roboto;
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
          }
      }
    }
  }
}