.czb-modal-box{
    .czb-modal-mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.65);
        height: 100%;
        z-index: 1000;
    }
    .czb-modal-wrap{
        position: fixed;
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
    .czb-modal{
        line-height: 1.5;
        font-size: 14px;
        color: rgba(0,0,0,.65);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        width: auto;
        margin: 0 auto;
        top: 100px;
        padding-bottom: 24px;
        transform-origin: 45px 326px 0px;
    }
    .czb-modal-content{
        position: relative;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        background-clip: padding-box;
        -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
        box-shadow: 0 4px 12px rgba(0,0,0,.15);
    }
    .czb-modal-header{
        padding: 16px 24px;
        border-radius: 4px 4px 0 0;
        background: #fff;
        color: rgba(0,0,0,.65);
        border-bottom: 1px solid #e8e8e8;
    }
    .czb-modal-title{
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: rgba(0,0,0,.85);
    }
    .czb-modal-body{
        padding: 24px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
    }
    .czb-modal-footer{
        border-top: 1px solid #e8e8e8;
        padding: 10px 16px;
        text-align: right;
        border-radius: 0 0 4px 4px;
        display: flex;
        justify-content: flex-end;
    }
    .czb-modal-close{
        cursor: pointer;
        border: 0;
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
        -webkit-transition: color .3s;
        transition: color .3s;
        color: rgba(0,0,0,.45);
        outline: 0;
        padding: 0;
    }
    .czb-modal-close-x{
        display: block;
        font-style: normal;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        color: #999;
    }
}
