@import "common/var.css";
@b c{
  @e msg-box{
    width: var(--msg-width);
    background-color: var(--color-white);
    position: fixed;
    color: var(--color-base);
    border-radius: 4px;
    font-size: var(--size-base);
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1901;
    box-sizing:border-box;
    box-shadow: -1px 0px 4px rgba(0,0,0,.2);
    .iczb-close{
      position: absolute;
      top: 12px;
      right: 10px;
      font-size: var(--size-large);
      cursor: pointer;
      color: var(--color-666);
    }
    @e title {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px 0;
    }
    @e message {
      font-size: 16px;
      padding: 20px 20px 0;
      margin: 10px 0;
      height: 50px;
      overflow-y: auto;
      color: var(--color-666);
    }
    @e btn{
      font-size: var(--size-base);
      text-align: center;
      display: flex;
      justify-content: flex-end;
      @e confirm{
        padding: 6px 0;
        color: #fff;
        width: 80px;
        background-color: var(--color-main);
        border-radius: var(--normal-radius);
        margin: 10px 10px 10px 0;
        cursor: pointer;
      }
      @e cancel{
        padding: 6px 0;
        color: var(--color-999);
        width: 80px;
        border: 1px solid var(--borderColor-main);
        border-radius: 6px;
        margin: 10px 10px 10px 0;
        cursor: pointer;
      }
    }
  }
}
